<h1>Add A Job</h1>
<%= form_tag '/jobs', method: :post do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :address_1 %>
    <%= text_field_tag :address_1 %>
  </div>

  <div>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div>

  <div>
    <%= label_tag :state %>
    <%= text_field_tag :state %>
  </div>

  <div>
    <%= label_tag :zip %>
    <%= text_field_tag :zip %>
  </div>

  <div>
    <%= label_tag :phone_number %>
    <%= text_field_tag :phone_number %>
  </div>

  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :duration %>
    <%= text_field_tag :duration %>
  </div>


  <div>
    <%= submit_tag "Add A New Job" %>
  </div>

<% end %>
