
<span>
<button ><%= link_to 'Edit', "/jobs/#{@job.id}/edit" %></button>
<button> <%= link_to 'Delete', "/jobs/#{@job.id}", method: :delete %></button>
</span>

<br>

<h2><%= @job.name %> </h2>
<h2><%= @job.address_1 %> <%= @job.city %> <%= @job.state %> <%= @job.zip %></h2>
<h3> Email: <%= @job.email %> </h3>
<h3>Phone: (<%= @job.phone_number[0..2]%>) <%= @job.phone_number[3..5]%>-<%=@job.phone_number[6..9]%></h3>



  <section>
    <div>
      <%= form_tag '/carted_products', method: :post do %>
        <%= hidden_field_tag :job_id, @job.id %>
        <%= hidden_field_tag :duration, @duration %>
    
      <%= submit_tag 'Add To Jobs List!', class: "btn btn-default-outline"%>
      <% end %>  
       
    </div>
  </section>


<section>