

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  } );

 

  function reorganize() {
    var newArray = document.querySelectorAll('h2.jobs-ordered')
    var idsArray = [];
    for(i = 0; i < newArray.length; i++) { 
      idsArray.push(newArray[i].id);
    }
    console.log(idsArray);

    $.ajax({
      method: "patch",
      url: "/carted_products/update_row_order",
      header: {Accept: "application/json"},
      data: {ids: idsArray},
      success: function() {
        console.log('hi');
      },
      error: function() {
        console.log(':(');
      }
    });



    
  };
  </script>

 
<h2> Today's Hours: <%= @sum %> </h2>

   
<h2><button><%= link_to 'Jobs By Priority', '/carted_products/priority', method: :get %></button>
<button><%= link_to 'Jobs By Distance', '/carted_products/distance', method: :get %></button>
<button onclick="reorganize()">Set Custom Order</button> <button><%= link_to 'Use My Order', '/carted_products/reorder', method: :get %></button>
</h2>

<br>
<br>



  <div id="sortable">
    <% @carted_products.each do |carted_product| %>
      <div draggable="true">
        <h2 id="<%= carted_product.id %>" class="jobs-ordered">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="color:#207A34"></span>
          <%= carted_product.job.name %> <%= carted_product.job.address_1 %> <%= carted_product.job.city %> 
          


          <button><%= link_to 'Remove', "/carted_products/#{carted_product.id}", method: :delete %></button>
          <button><%= link_to 'Edit', "/carted_products/#{carted_product.id}/edit" %></button>
        
        </h2>
        <h3> Duration: <%= carted_product.job.duration %> hrs. </h3>
      </div>
    <% end %>
  </div>

  <br>
<h2>
<button><%= link_to 'Select More Jobs', '/jobs', method: :get %></button></h2>



  
 


      