<!DOCTYPE html>
<html>
  <head>
    <title>Route Plannning App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container-fluid">

  <body>
  <div class="container-fluid">

    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/jobs">Route Planning App</a>
        <% if current_user %>
          <a class="navbar-brand"> Welcome <%= current_user.name.titleize %> !</a>
        <% end %>
        <%= form_tag '/jobs', method: :get, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search_term, nil, placeholder: "Search", class: "form-control" %>
          </div>
          <%= submit_tag 'Submit', class: "btn btn-default" %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
        
          <li><a href="/jobs/new">Add A New Job</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/jobs.city=hinsdale">Jobs In Hinsdale</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>

              <% if current_user %>
                <li><%= link_to 'Log Out', '/logout', method: :delete %></li>
              <% else %>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
              <% end %>
            </ul>
          </li>

        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
</nav>
    <%= yield %>
  </body>
</html>